.container{
  width:100vw;
  height: 100vh;
  display:flex;
  gap:20px;
  overflow: hidden;
}
.left-container{
  flex:1;
}
.right-container{
  flex:1;
  display:flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top:25vh;
}
/* About Me */
.characters span, 
.skillSet span, 
.projectTech , 
.contactLink button{
  background:#4a7c59;
  color:white;
  font-size:12px;
  padding:4px 8px;
  margin-right:.5rem;
  margin-bottom:.5rem;
  border-radius:8px;
  display:inline-block;
}
/* Skills */
.loading-container{
  width:100%;
  height:10px;
  background-color:white;
  border-radius:10px;
  overflow:hidden;
}
.loading-bar{
  height:100%;
  background-color:#4caf50;
  transition:width 2s ease;
  border-radius:10px;
}
.techSet{
  padding:1rem 0;
}
/* Projects */
.project-container{
  height:300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.projectInfo{
    background: rgb(211, 205, 205);
  border-radius: 8px;
  padding:0 .5rem;
  margin:8px;
}

/* Contact */
.gmailLink{
  background:rgb(211, 205, 205);
  border-radius: 8px;
  margin: 10px 0;
  padding:8px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:auto;
}
.linkToMail{
  font-size: .8rem;
    color:black;
}
.mail{
   padding: 0 10px ;
}